html {
  scrollbar-width: thin;
}

#search {
  border-width: 1px;
  border-style: solid;
  border-color: antiquewhite;
}

.Browser-a11y .Preview-iframe {
  margin-top: 40px;
}

[data-behaviour="preview"] {
  height: 100%;
}

[data-role="resize-handle"] {
  min-height: 100%;
  resize: horizontal;
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  overflow: auto;
}

.Preview-resizer {
  overflow: hidden;
}

.Prose--condensed,
.Browser-panel {
  height: auto;
  min-height: 45vh;
  max-height: 50vh;
  overflow: auto;
}

.Tree-entityLink span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Tree-item-child {
  margin-top: 7px !important;
  float: right;
}

.Tree-collectionItemsCheckbox {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTkgNXYxNEg1VjVoMTRtMC0ySDVjLTEuMSAwLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnoiLz4KPC9zdmc+Cg==) no-repeat center;
  -webkit-background-size: 1.5rem 1.5rem;
  background-size: 1.5rem 1.5rem;
  opacity: .54;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Tree-collectionItemsCheckbox:focus,
.Tree-collectionItemsCheckbox:hover {
  opacity: .87;
}

.Tree-collectionItemsCheckbox:checked {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj48cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0eiIvPgogIDxwYXRoIGQ9Ik0xOCA5bC0xLjQtMS40LTYuNiA2LjYtMi42LTIuNkw2IDEzbDQgNHoiLz4KPC9zdmc+Cg==);
}

.Tree-collectionItemsText {
  padding: .5rem 1rem;
  border-width: 1px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: none;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.Header a {
  text-transform: capitalize;
}

.Navigation {
  display: block;
}

@media (max-width: 1360px) {
  .Pen-top {
    display: flex;
    flex-direction: column;
  }

  .Pen-top .Prose {
    width: auto;
    margin-bottom: 1rem;
  }

  .Pen-top .Pen-info {
    width: auto;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .Frame-panel--sidebar {
    display: none;
  }

  .Header::before {
    padding: .5rem 1rem;
    border-width: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: white;
    content: "Menu";
  }
}
